.wrapper {
	padding: 100px;

	button {
		border-radius: 5px;
		border: none;
	}

	.row {
		margin: 0 auto;
		display: flex;
		align-items: flex-start;
		max-width: 1500px;
	}
}

@media (max-width: 774px) {
	.wrapper {
		padding: 10px 20px;
		.row {
			align-items: center;
			flex-direction: column;
		}
	}
}

@media (max-width: 375px) {
	.wrapper {
		padding: 10px 5px;
	}
}
